body {
    font-family: "Arial", "sans-serif";
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

header {
    background:url("../IMG/Background.png") center no-repeat ;
    height: 700px;
    width: auto;
    padding: 0;
    margin: 0;
    
}
.logo {
    font-size: 32px;
    color: #f1cdb3;
    padding-top:21px;
    margin-left: 190px;
}
.logo .two {
    font-size: 13px;
    color: #fff;
    margin-top: -24px;
    
}
.menu a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    float:left;
    padding-top: -980px;
    transform: 1s ease-in;
    position: relative;
}
.menu li {
    margin-left: 40px;
    list-style-type: none;
    float:right;
    margin-top: 60px;
    
}
.menu a:last-child {
    margin-right: 30px;
}
.menu a:hover {
    padding-bottom: 5px;
    color:#f1cdb3;
}

.menu a::before {
   content: "";
   bottom: 0;
   left: 0;
   width: 0%;
   height: 2px;
   background-color: #f1cdb3;
   position: absolute;
   transition: 1s;
}
.menu a:hover:before {
    width: 100%;    
}
.h1 {
    font-size: 44px;
    color: #fff;
    margin-top: 190px;
    margin-left: 190px;
}
.h1_text {
    font-size: 15px;
    color: #fff;
    margin-top: 15px;
    margin-left: 190px;
}
.button a {
    text-align: center;
    color: #4e443c;
    background-color: #f1cdb3;
    text-decoration: none;
    width: 150px;
    display: block;
    border: 15px solid #f1cdb3 ;   
    border-radius: 25px;
}

.button li {
    list-style-type: none;
    display: block; 
    margin-top: 30px;
    margin-left: 150px;
}
.button a:hover {
    color: #ffffff;
    background-color: #ff9244;
    border: 15px solid #ff9244 ;   
    border-radius: 25px;
    transition: 0.5s;
} 
.first img {
    margin-left: 250px;
    margin-top: 35px;
}
.h1_pets {
    font-size: 35px;
    color: #545454;
    float: right;
    margin-top:100px;
    margin-right: 400px;
}
.text_first {
    font-size: 15px;
    color:#4c4c4c;
    float: right;
    margin-top: -240px;
    margin-right: 230px;
    
}
.h1_second {
    margin-top:150px;
    color: #545454;
    font-size: 28px;
    text-align: center;
}
.second .cat {
    margin-left: 200px;
}
.dog2 {
    margin: 0;
}
.second .title_second {
    font-size: 20px;
    margin-left: 300px;

}
.second .title2_second {
    font-size: 20px;
    float:right;
    margin-top: -40px;
    margin-right:620px;
}
.second .title3_second {
    font-size: 20px;
    float:right;
    margin-top: -40px;
    margin-right:-370px;
}
.learn_more a {
    text-align: center;
    color: #4e443c;
    background-color: #f1cdb3;
    text-decoration: none;
    width: 150px;
    display: block;
    border: 12px solid #f1cdb3 ;   
    border-radius: 25px;
}

.learn_more li {
    list-style-type: none;
    display: block; 
    margin-left: 210px;
    margin-bottom: 20px;
   
}
.learn_more a:hover {
    color: #ffffff;
    background-color: #ff9244;
    border: 12px solid #ff9244 ;   
    border-radius: 25px;
    transition: 0.5s;
}
.learn_more2 a {
    text-align: center;
    color: #4e443c;
    background-color: #f1cdb3;
    text-decoration: none;
    width: 150px;
    display: block;
    border: 12px solid #f1cdb3 ;   
    border-radius: 25px;
}

.learn_more2 li {
    list-style-type: none;
    display: block; 
    margin-left: 489px;
    margin-top:-58px;
}
.learn_more2 a:hover {
    color: #ffffff;
    background-color: #ff9244;
    border: 12px solid #ff9244 ;   
    border-radius: 25px;
    transition: 0.5s;
} 
.learn_more3 a {
    text-align: center;
    color: #4e443c;
    background-color: #f1cdb3;
    text-decoration: none;
    width: 150px;
    display: block;
    border: 12px solid #f1cdb3 ;   
    border-radius: 25px;
}

.learn_more3 li {
    list-style-type: none;
    display: block; 
    margin-left: 789px;
    margin-top:-56px;
    margin-bottom: 20px;
}
.learn_more3 a:hover {
    color: #ffffff;
    background-color: #ff9244;
    border: 12px solid #ff9244 ;   
    border-radius: 25px;
    transition: 0.5s;
} 
footer {
    background:url("../IMG/Background.png") center no-repeat ;
    height: 400px;
    width: auto;
}
footer h1 {
    color: #fff;
    margin-top: 100px;
    padding-top: 100px;

}
@media(min-width:0) and (max-width:320px) {
    body {
    margin: 0;
    padding: 0;
    }
    
header {
    background:url("../IMG/Background.png") center no-repeat ;
    height: 700px;
    width: auto;
    padding: 0;
    margin: 0;
    
}
    .menu li {
        margin-left: 16px; 
        list-style-type: none;
        float: right;
        margin-top: 60px;
    }
    .logo {
        font-size: 32px;
        color: #f1cdb3;
        padding-top: 190px;
        margin-left: 59px;
    }
    .h1 {
        font-size: 39px;
        color: #fff;
        margin-top: 80px; 
        margin-left: 55px;
    }
    .h1_text {
        font-size: 15px;
        color: #fff;
        margin-top: -20px;
        margin-left: 59px;
    }
    .button li {
        list-style-type: none;
        display: block;
        margin-top: 30px;
        margin-left: 11%;
        margin-bottom: 100px;
    }
    .first img {
        margin-left: 0px; 
        margin-top: 35px;
    }
    .h1_pets {
        font-size: 35px;
        color: #545454;
        float: none;
        text-align: center;
         margin-top: 0px;
        margin-right: 0px;
    }
    .text_first {
        font-size: 15px;
        color: #4c4c4c;
        float: none ;
        text-align: center;
        margin-top: 0px; 
        margin-right: 0px; 
    }
    .second .cat {
        /* margin-left: 200px; */
        margin: 0 auto;
    }
    .learn_more li {
        list-style-type: none;
        display: block;
        margin-left: 210px;
        margin-bottom: 20px;
        margin-left: 11%;
    }
    .second .title_second {
        font-size: 20px;
        margin-left: 400px;
        
    }
    .second .title3_second {
        font-size: 20px;
        float: right;
        margin-top: -40px;
        margin-right: -394px;
}
}
@media(min-width:321px) and (max-width:420px) {
    body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
    
header {
    background:url("../IMG/Background.png") center no-repeat ;
    height: 700px;
    width: auto;
    padding: 0;
    margin: 0;
    
}
    .menu li {
        margin-left: 16px; 
        list-style-type: none;
        float: right;
        margin-top: 60px;
    }
    .logo {
        font-size: 32px;
        color: #f1cdb3;
        padding-top: 190px;
        margin-left: 59px;
    }
    .h1 {
        font-size: 39px;
        color: #fff;
        margin-top: 80px; 
        margin-left: 55px;
    }
    .h1_text {
        font-size: 15px;
        color: #fff;
        margin-top: -20px;
        margin-left: 59px;
    }
    .button li {
        list-style-type: none;
        display: block;
        margin-top: 30px;
        margin-left: 11%;
        margin-bottom: 100px;
    }
    .first img {
        margin-left: 47px;
        margin-top: 35px;
    }
    .h1_pets {
        font-size: 35px;
        color: #545454;
        float: none;
        text-align: center;
         margin-top: 0px;
        margin-right: 0px;
    }
    .text_first {
        font-size: 15px;
        color: #4c4c4c;
        float: none ;
        text-align: center;
        margin-top: 0px; 
        margin-right: 0px; 
    }
    .second .cat {
        margin-left: 69px;
      
    }
    .dog2 {
        margin-left: 69px;
        
    }
    .dog3 {
        margin-left: 69px;
        
    }
    .learn_more li {
        list-style-type: none;
        display: block;
        margin-left: 210px;
        margin-bottom: 20px;
        margin-left: 27%;
    }
    .second .title_second {
        font-size: 20px;
        margin-left: 600px;
    }
    .second .title3_second {
        font-size: 20px;
        float: right;
        margin-top: -40px;
        margin-right: -894px;
    }
    footer h1 {
        color: #fff;
        margin-top: 100px;
        padding-top: 100px;
        padding-left: 40px;
    }
}
@media(min-width:421px) and (max-width:520px) {
    body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
    
header {
    background:url("../IMG/Background.png") center no-repeat ;
    height: 700px;
    width: auto;
    padding: 0;
    margin: 0;
    
}
.menu li {
    /* margin-left: 16px; */
    list-style-type: none;
    float: left;
    margin-top: 60px;
}
    .logo {
        font-size: 32px;
        color: #f1cdb3;
        padding-top: 190px;
        margin-left: 59px;
    }
    .h1 {
        font-size: 39px;
        color: #fff;
        margin-top: 80px; 
        margin-left: 55px;
    }
    .h1_text {
        font-size: 15px;
        color: #fff;
        margin-top: -20px;
        margin-left: 59px;
    }
    .button li {
        list-style-type: none;
        display: block;
        margin-top: 30px;
        margin-left: 4%;
        margin-bottom: 100px;
    
    }
    .first img {
        margin-left: 91px;
        margin-top: 35px;
    }
    .h1_pets {
        font-size: 35px;
        color: #545454;
        float: none;
        text-align: center;
         margin-top: 0px;
        margin-right: 0px;
    }
    .text_first {
        font-size: 15px;
        color: #4c4c4c;
        float: none ;
        text-align: center;
        margin-top: 0px; 
        margin-right: 0px; 
    }
    .second .cat {
        margin-left: 120px;
    }
    .dog2 {
        margin-left: 120px;
        
    }
    .dog3 {
        margin-left: 120px;
        
    }
    .learn_more li {
        list-style-type: none;
        display: block;
        margin-left: 210px;
        margin-bottom: 20px;
        margin-left: 29%;
    }
    .second .title_second {
        font-size: 20px;
        margin-left: 600px;
    }
    .second .title3_second {
        font-size: 20px;
        float: right;
        margin-top: -40px;
        margin-right: -894px;
    }
    footer h1 {
        color: #fff;
        margin-top: 100px;
        padding-top: 100px;
        padding-left: 40px;
    }
    footer {
        background: url(../IMG/Background.png) center no-repeat;
        height: 400px;
        width: auto;
    }
}
@media(min-width:521px) and (max-width:620px) {
    body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
    
header {
    background:url("../IMG/Background.png") center no-repeat ;
    height: 700px;
    width: auto;
    padding: 0;
    margin: 0;
    
}
.menu li {
    /* margin-left: 16px; */
    list-style-type: none;
    float: left;
    margin-top: 60px;
}
    .logo {
        font-size: 32px;
        color: #f1cdb3;
        padding-top: 190px;
        margin-left: 59px;
    }
    .h1 {
        font-size: 39px;
        color: #fff;
        margin-top: 80px; 
        margin-left: 55px;
    }
    .h1_text {
        font-size: 15px;
        color: #fff;
        margin-top: -20px;
        margin-left: 59px;
    }
    .button li {
        list-style-type: none;
        display: block;
        margin-top: 30px;
        margin-left: 4%;
        margin-bottom: 100px;
    
    }
    .first img {
        margin-left: 125px;
        margin-top: 35px;
    }
    .h1_pets {
        font-size: 35px;
        color: #545454;
        float: none;
        text-align: center;
         margin-top: 0px;
        margin-right: 0px;
    }
    .text_first {
        font-size: 15px;
        color: #4c4c4c;
        float: none ;
        text-align: center;
        margin-top: 0px; 
        margin-right: 0px; 
    }
    .second .cat {
        margin-left: 188px;
    }
    .dog2 {
        margin-left: 188px;
        
    }
    .dog3 {
        margin-left: 188px;
        
    }
    .learn_more li {
        list-style-type: none;
        display: block;
        margin-left: 210px;
        margin-bottom: 20px;
        margin-left: 37%;
    }
    .learn_more2 li {
        list-style-type: none;
        display: block;
        margin-left: 683px;
        margin-top: -58px;
    }
    .second .title_second {
        font-size: 20px;
        margin-left: 900px;
    }
    .second .title3_second {
        font-size: 20px;
        float: right;
        margin-top: -40px;
        margin-right: -894px;
    }
    footer h1 {
        color: #fff;
        margin-top: 100px;
        padding-top: 100px;
        padding-left: 40px;
    }
    footer {
        background: url(../IMG/Background.png) center no-repeat;
        height: 400px;
        width: auto;
    }
}